
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900|Ubuntu:400,500,700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */
* {
   margin: 0;
   padding: 0;
}
/*--header part start-- */
header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 
}
.logo {
 
}
.logo img {

}
nav {
  width: 40%;

}
nav ul {
 list-style: none;
 display: flex;
 justify-content: space-between;
}

nav ul li {
 
}
nav ul li a { 
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  color: #626262;

}
/* header part ends */
/* banner part starts */
.banner {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.banner img {
  width: 100%;
}
/* banner part ends */
/* photodiary section starts */
.photodiary {
  width : 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.photodiary h5 {
  color: #b4ad9e;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: 'Ubuntu', sans-serif;

}
.photodiary h1 {

color: #626262;

font-weight: 400;

margin-bottom: 30px;
font-family: 'Playfair Display', serif;

}
.photodiary p {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.8;
  
}
/* photodiary section ends */
/* lifestyle section starts*/
.lifestyle {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;

}
.lifestyle-1 {
  width: 48%;

}
.lifestyle-1 img {
  width: 100%;
}
.lifestyle-1 h5 {
  color: #b4ad9e;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: 'Ubuntu', sans-serif;
}
.lifestyle-1 h1 {
  color: #626262;
font-weight: 400;
margin-bottom: 30px;
font-family: 'Playfair Display', serif;
}
.lifestyle-1 p {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.8;
}
/* lifestyle section ends */
/* photodiary section2 starts */
.photodiary-2 {
  width: 80%;
  margin:auto;
  display: flex;
  justify-content: space-between;
}
.american {
  width: 48%;
}
.american img {
  width:100%;
}
.american h5 {
  color: #b4ad9e;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: 'Ubuntu', sans-serif;
}
.american h1 {
  color: #626262;
font-weight: 400;
margin-bottom: 30px;
font-family: 'Playfair Display', serif;
}
.american p {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.8;
}
/* photodiary section2 ends */
/* newsletter section starts */
.newsletter {
  background: #f0f0f0;
  width: 100%;
  padding: 80px 0;
  margin-top: 100px;
  margin-bottom: 100px;
  
}
.news {
  width: 300px;
  margin: auto;
  position: relative;
}
.news h1 {
  color: #626262;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
}
.news input {
  margin-top:40px;
  border:none;
  background:transparent;
  border-bottom: 1px solid;
  width:300px;
  padding: 10px 0;

}

.news input::placeholder {
  color: #626262;
  font-size: 14px;
  font-family:'Playfair Display', serif;
}

.send img {
  position: absolute;
  bottom: 9px;
  right: 0;
}
/* newsletter section ends */
/* another lifestyle section starts */
.another-lifestyle {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.lifestyle-2 {
  width: 48%;
}
.lifestyle-2 img {
  width: 100%;
}
.lifestyle-2 h5 {
  color: #b4ad9e;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: 'Ubuntu', sans-serif;
}
.lifestyle-2 h1 {
  color: #626262;
font-weight: 400;
margin-bottom: 30px;
font-family: 'Playfair Display', serif;
}
.lifestyle-2 p {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.8;
}
/* another lifestyle section ends */
/* load more section starts */
.load {

  text-align: center;
  
  padding: 100px 0;
  }
  .loadmore {
  
  }
  .loadmore input {
    
  padding:  20px 30px;
    
  background: transparent;
    
  border: none;
    
  border: 1px solid;}
  input[type="button"] {
    font-size: 20px;
    font-family:'Playfair Display', serif;
    color: #626262;
  }
/*load more section ends */
/*footer section starts */
footer {
  background: #f0f0f0;
  padding: 30px 0;
  
}
.footer-content {

  width: 80%;
  
  margin: auto;
  
  display: flex;
  
  justify-content: space-between;
  }
.terms {
    width: 20%;
}
.terms ul {list-style: none;display: flex;justify-content: space-between;}
.terms ul li {}
.terms ul li a {
    text-decoration: none;
    color:#000000;
    font-size: 12px;
    font-family:'Playfair Display', serif;
}




.social-icon {
  width: 22%;
}
.social-icon ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social-icon ul li {}
.social-icon ul li a {
  color: #626262;
  text-decoration: none;
}
.social-icon ul li a i {}
/*footer section ends */
